<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hunyuan.sa.bpm.module.form.dao.BpmFormDao">

    <select id="queryPage" resultType="com.hunyuan.sa.bpm.module.form.domain.vo.BpmFormVO">
        select
            form_id as formId,
            form_key as formKey,
            form_name as formName,
            schema_json as schemaJson,
            layout_json as layoutJson,
            disabled_flag as disabledFlag,
            remark,
            create_time as createTime,
            update_time as updateTime
        from t_bpm_form
        where deleted_flag = #{queryForm.deletedFlag}
        <if test="queryForm.formKey != null and queryForm.formKey != ''">
            and form_key like concat('%', #{queryForm.formKey}, '%')
        </if>
        <if test="queryForm.formName != null and queryForm.formName != ''">
            and form_name like concat('%', #{queryForm.formName}, '%')
        </if>
        <if test="queryForm.disabledFlag != null">
            and disabled_flag = #{queryForm.disabledFlag}
        </if>
        order by update_time desc, form_id desc
    </select>

    <select id="selectOne" resultType="com.hunyuan.sa.bpm.module.form.domain.entity.BpmFormEntity">
        select *
        from t_bpm_form
        where 1 = 1
        <if test="formId != null">
            and form_id = #{formId}
        </if>
        <if test="formKey != null and formKey != ''">
            and form_key = #{formKey}
        </if>
        <if test="deletedFlag != null">
            and deleted_flag = #{deletedFlag}
        </if>
        limit 1
    </select>
</mapper>
