<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hunyuan.sa.bpm.module.definition.dao.BpmDefinitionDao">

    <select id="queryPage" resultType="com.hunyuan.sa.bpm.module.definition.domain.vo.BpmDefinitionVO">
        select
            definition_id as definitionId,
            model_id as modelId,
            definition_key as definitionKey,
            definition_name as definitionName,
            definition_version as definitionVersion,
            category_name_snapshot as categoryNameSnapshot,
            form_name_snapshot as formNameSnapshot,
            lifecycle_state as lifecycleState,
            start_state as startState,
            published_by_name_snapshot as publishedByNameSnapshot,
            published_at as publishedAt
        from t_bpm_definition
        where 1 = 1
        <if test="queryForm.definitionKey != null and queryForm.definitionKey != ''">
            and definition_key like concat('%', #{queryForm.definitionKey}, '%')
        </if>
        <if test="queryForm.definitionName != null and queryForm.definitionName != ''">
            and definition_name like concat('%', #{queryForm.definitionName}, '%')
        </if>
        <if test="queryForm.lifecycleState != null">
            and lifecycle_state = #{queryForm.lifecycleState}
        </if>
        <if test="queryForm.startState != null">
            and start_state = #{queryForm.startState}
        </if>
        order by published_at desc, definition_id desc
    </select>

    <select id="queryDetail" resultType="com.hunyuan.sa.bpm.module.definition.domain.vo.BpmDefinitionDetailVO">
        select
            definition_id as definitionId,
            model_id as modelId,
            definition_key as definitionKey,
            definition_name as definitionName,
            definition_version as definitionVersion,
            category_id_snapshot as categoryIdSnapshot,
            category_name_snapshot as categoryNameSnapshot,
            form_type_snapshot as formTypeSnapshot,
            form_id_snapshot as formIdSnapshot,
            form_name_snapshot as formNameSnapshot,
            form_schema_snapshot_json as formSchemaSnapshotJson,
            simple_model_snapshot_json as simpleModelSnapshotJson,
            compiled_bpmn_xml as compiledBpmnXml,
            start_rule_snapshot_json as startRuleSnapshotJson,
            manager_scope_snapshot_json as managerScopeSnapshotJson,
            title_rule_snapshot_json as titleRuleSnapshotJson,
            summary_rule_snapshot_json as summaryRuleSnapshotJson,
            variable_mapping_snapshot_json as variableMappingSnapshotJson,
            lifecycle_state as lifecycleState,
            start_state as startState,
            engine_process_definition_id as engineProcessDefinitionId,
            published_by_name_snapshot as publishedByNameSnapshot,
            published_at as publishedAt
        from t_bpm_definition
        where definition_id = #{definitionId}
    </select>

    <select id="selectCurrentByDefinitionKey" resultType="com.hunyuan.sa.bpm.module.definition.domain.entity.BpmDefinitionEntity">
        select *
        from t_bpm_definition
        where definition_key = #{definitionKey}
          and lifecycle_state = 1
        order by definition_version desc
        limit 1
    </select>

    <select id="selectMaxVersionByDefinitionKey" resultType="java.lang.Integer">
        select max(definition_version)
        from t_bpm_definition
        where definition_key = #{definitionKey}
    </select>

    <select id="queryStartableList" resultType="com.hunyuan.sa.bpm.module.runtime.domain.vo.BpmStartableDefinitionVO">
        select
            definition_id as definitionId,
            definition_key as definitionKey,
            definition_name as definitionName,
            definition_version as definitionVersion,
            category_name_snapshot as categoryNameSnapshot,
            form_name_snapshot as formNameSnapshot
        from t_bpm_definition
        where lifecycle_state = 1
          and start_state = 1
        order by published_at desc, definition_id desc
    </select>
</mapper>
