<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hunyuan.sa.bpm.module.runtime.dao.BpmFormDataChangeDao">

    <select id="queryByInstanceId"
            resultType="com.hunyuan.sa.bpm.module.runtime.domain.entity.BpmFormDataChangeEntity">
        select
            change_id as changeId,
            instance_id as instanceId,
            task_id as taskId,
            definition_node_id as definitionNodeId,
            node_key_snapshot as nodeKeySnapshot,
            change_source as changeSource,
            actor_employee_id as actorEmployeeId,
            actor_name_snapshot as actorNameSnapshot,
            before_version as beforeVersion,
            after_version as afterVersion,
            changed_fields_json as changedFieldsJson,
            before_values_json as beforeValuesJson,
            after_values_json as afterValuesJson,
            create_time as createTime
        from t_bpm_form_data_change
        where instance_id = #{instanceId}
        order by change_id asc
    </select>
</mapper>
