<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hunyuan.sa.bpm.module.runtime.dao.BpmInstanceDao">

    <select id="queryPage" resultType="com.hunyuan.sa.bpm.module.runtime.domain.vo.BpmInstanceVO">
        select
            instance_id as instanceId,
            instance_no as instanceNo,
            title,
            run_state as runState,
            result_state as resultState,
            start_employee_name_snapshot as startEmployeeNameSnapshot,
            started_at as startedAt,
            finished_at as finishedAt
        from t_bpm_instance
        where 1 = 1
        <if test="queryForm.instanceNo != null and queryForm.instanceNo != ''">
            and instance_no like concat('%', #{queryForm.instanceNo}, '%')
        </if>
        <if test="queryForm.title != null and queryForm.title != ''">
            and title like concat('%', #{queryForm.title}, '%')
        </if>
        <if test="queryForm.runState != null">
            and run_state = #{queryForm.runState}
        </if>
        <if test="queryForm.startEmployeeId != null">
            and start_employee_id = #{queryForm.startEmployeeId}
        </if>
        order by started_at desc, instance_id desc
    </select>
</mapper>
