<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hunyuan.sa.bpm.module.runtime.dao.BpmInstanceCopyDao">

    <select id="queryMyCopyPage" resultType="com.hunyuan.sa.bpm.module.runtime.domain.vo.BpmInstanceCopyVO">
        select
            c.copy_id as copyId,
            c.instance_id as instanceId,
            i.instance_no as instanceNo,
            i.title as title,
            c.copy_type as copyType,
            c.read_state as readState,
            c.source_node_name as sourceNodeName,
            c.target_name_snapshot as targetNameSnapshot,
            c.reason_snapshot as reasonSnapshot,
            c.sent_at as sentAt,
            c.read_at as readAt,
            i.start_employee_name_snapshot as startEmployeeNameSnapshot,
            i.run_state as runState,
            i.result_state as resultState
        from t_bpm_instance_copy c
        inner join t_bpm_instance i on i.instance_id = c.instance_id
        where c.target_employee_id = #{queryForm.targetEmployeeId}
        <if test="queryForm.instanceNo != null and queryForm.instanceNo != ''">
            and i.instance_no like concat('%', #{queryForm.instanceNo}, '%')
        </if>
        <if test="queryForm.title != null and queryForm.title != ''">
            and i.title like concat('%', #{queryForm.title}, '%')
        </if>
        <if test="queryForm.readState != null">
            and c.read_state = #{queryForm.readState}
        </if>
        order by c.sent_at desc, c.copy_id desc
    </select>
</mapper>
