<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hunyuan.sa.bpm.module.runtime.dao.BpmRouteDecisionDao">

    <select id="selectByGenerationAndNode"
            resultType="com.hunyuan.sa.bpm.module.runtime.domain.entity.BpmRouteDecisionEntity">
        select *
        from t_bpm_route_decision
        where instance_id = #{instanceId}
          and engine_process_instance_id = #{engineProcessInstanceId}
          and route_node_key = #{routeNodeKey}
        limit 1
    </select>

    <select id="queryByInstanceId"
            resultType="com.hunyuan.sa.bpm.module.runtime.domain.entity.BpmRouteDecisionEntity">
        select *
        from t_bpm_route_decision
        where instance_id = #{instanceId}
        order by route_decision_id asc
    </select>
</mapper>
