<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hunyuan.sa.bpm.module.runtime.dao.BpmTaskActionLogDao">

    <select id="queryByInstanceId" resultType="com.hunyuan.sa.bpm.module.runtime.domain.vo.BpmTaskActionLogVO">
        select
            action_log_id as actionLogId,
            task_id as taskId,
            definition_node_id as definitionNodeId,
            action_type as actionType,
            actor_employee_id as actorEmployeeId,
            actor_name_snapshot as actorNameSnapshot,
            from_assignee_employee_id as fromAssigneeEmployeeId,
            to_assignee_employee_id as toAssigneeEmployeeId,
            comment_text as commentText,
            action_at as actionAt
        from t_bpm_task_action_log
        where instance_id = #{instanceId}
        order by action_at asc, action_log_id asc
    </select>
</mapper>
