<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hunyuan.sa.bpm.module.category.dao.BpmCategoryDao">

    <select id="queryPage" resultType="com.hunyuan.sa.bpm.module.category.domain.vo.BpmCategoryVO">
        select
            category_id as categoryId,
            category_code as categoryCode,
            category_name as categoryName,
            icon,
            sort,
            disabled_flag as disabledFlag,
            remark,
            create_time as createTime,
            update_time as updateTime
        from t_bpm_category
        where deleted_flag = #{queryForm.deletedFlag}
        <if test="queryForm.categoryCode != null and queryForm.categoryCode != ''">
            and category_code like concat('%', #{queryForm.categoryCode}, '%')
        </if>
        <if test="queryForm.categoryName != null and queryForm.categoryName != ''">
            and category_name like concat('%', #{queryForm.categoryName}, '%')
        </if>
        <if test="queryForm.disabledFlag != null">
            and disabled_flag = #{queryForm.disabledFlag}
        </if>
        order by sort asc, category_id desc
    </select>

    <select id="selectOne" resultType="com.hunyuan.sa.bpm.module.category.domain.entity.BpmCategoryEntity">
        select *
        from t_bpm_category
        where 1 = 1
        <if test="categoryId != null">
            and category_id = #{categoryId}
        </if>
        <if test="categoryCode != null and categoryCode != ''">
            and category_code = #{categoryCode}
        </if>
        <if test="deletedFlag != null">
            and deleted_flag = #{deletedFlag}
        </if>
        limit 1
    </select>
</mapper>
